<div style="display: flex; justify-content: center; align-items: center;">
    <div>
    <ol>
    <% for(let i=0; i<chapters.length; i++){ %>
        <li>
        <%= chapters[i].chapter_name %>
        </li>
        <ol style="list-style-position: inside; list-style-type: decimal;">
        <% for(let j=0; j<chapters[i].lessons.length; j++){ %>
            <li>
            <a href="/learn/lesson:<%= chapters[i].lessons[j].lesson_id %>"><%= chapters[i].lessons[j].lesson_name %></a>
            </li>
        <% } %>
        </ol>
    <% } %>
    </ol>
    </div>
</div>