<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table th,
    table td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 14px;
    }

    table th {
        background-color: darkcyan; 
        color: white;
    }

    table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    #submitButton {
        padding: 10px 20px;
        background-color: darkcyan; 
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #submitButton:hover {
        background-color: #008080; 
    }
</style>

<form method="POST" action="/teacher/addClassToCourse" id="form">
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <table style="border-collapse: collapse;">
            <thead>
                <tr style="border: solid grey 1px;">
                    <th style="border: solid grey 1px;"></th>
                    <th style="border: solid grey 1px;">Osztály megnevezése</th>
                    <th style="border: solid grey 1px;">Évfolyam</th>
                </tr>
            </thead>
            <tbody>
                    <% for(let i=0; i<classes.length; i++) { %>
                        <tr style="border: solid grey 1px; text-align: center;">
                            <td><input type="checkbox" value="<%= classes[i].class_id %>" name="class"></td>
                            <td style="border: solid grey 1px;"><%= classes[i].class_name %></td>
                            <td style="border: solid grey 1px; text-align: center;"><%= classes[i].class_grade %></td>
                        </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <div>
        <button id="submitButton">Hozzáad</button>
    </div>
</div>
</form>

<script>
    const button = document.getElementById("submitButton");
    const form = document.getElementById("form");
    button.addEventListener('click', function(e){
        e.preventDefault();
        const classes = document.getElementsByName("class");
        let count = 0;
        for(let i=0; i<classes.length; i++){
            if(classes[i].checked){
                count++;
            }
        }
        if(count>0){
            form.submit();
        }
        else{
            alert('Legalább egy osztályt ki kell jelölni!');
        }
    });
</script>