<form method="POST" action="/teacher/addNewDragExercise/<%= testID %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <input type="radio" name="type" value="grouping"> Csoportosítás
        </div>
        <div>
            <input type="radio" name="type" value="ordering"> Sorrendbe helyezés
        </div>
        <div style="margin-top: 30px; margin-left: 300px;">
            <button>Kiválaszt</button>
        </div>
    </div>
</form>