<style>
    .form-container {
        max-width: 500px;
        width: 100%;
        margin: 25px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border: 3px solid darkcyan;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        margin-bottom: 20px;
        color: darkcyan;
        font-size: 24px;
        text-align: center;
    }

    .form-group {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        margin-bottom: 10px;
        font-weight: bold;
        color: darkcyan;
    }

    .form-group input[type="text"],
    .form-group input[type="file"] {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        background-color: #f9f9f9;
    }

    .form-group input[type="text"]:focus,
    .form-group input[type="file"]:focus {
        outline: none;
        border-color: darkcyan;
        background-color: #ffffff;
    }

    .submit-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .submit-btn {
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        background-color: darkcyan;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
        background-color: #008b8b;
    }
</style>


<form method="POST" action="/teacher/addNewCourse" enctype="multipart/form-data">
    <div class="form-container">
        <h3>Új kurzus létrehozása</h3>
        <div class="form-group">
            <label for="courseName">Kurzus neve:</label>
            <input type="text" id="courseName" name="courseName" required>
        </div>
        <div class="form-group">
            <label for="upl">Kép feltöltése:</label>
            <input type="file" id="upl" name="upl">
        </div>
        <div class="submit-container">
            <button class="submit-btn" type="submit">Hozzáad</button>
        </div>
    </div>
</form>
