<form method="POST" action="/admin/newClass" enctype="multipart/form-data">
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <h3>
            Új osztály hozzáadása
        </h3>
    </div>
    <table>
    <tr>
            <td><label>Osztály neve:</label></td>
            <td><input type="text" name="name"></td>
    </tr>
    <tr>
                <td><label>Évfolyam:</label></td>
                <td><input type="number" name="grade" min="1" max="12" step="1"></td>
    </tr>
    <tr>  
                <td><label>Osztály névsora(Excel fájl):</label></td>
                <td><input type="file" name="list"></td>
    </tr>
    <tr>    
                <td><label>Jelszó:</label></td>
                <td><input type="password" name="password"></td>
    </tr>

    </table>
    <div style="margin-top: 20px;">
        <button>Hozzáad</button>
    </div>
</div>
</form>