<form method="POST" action="/teacher/addNewCourse" enctype="multipart/form-data">
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <h3>Új kurzus létrehozása</h3>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
        <label>Kurzus neve: </label>
        <input type="text" name="courseName">
    </div>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;"> 
        <label>Kép feltöltése: </label>
        <input type="file" name="upl">
    </div>
    <div>
        <button>Hozzáad</button>
    </div>
</div>
</form>