<form method="POST" action="/teacher/addNewExercise/<%= testID %>">
    <div style="font-size: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h3>Válassza ki a feladat típusát!</h3>
        </div>
        <% for(let i=0; i<types.length; i++) { %>
            <div style="margin-top: 30px; display: flex; justify-content: center; align-items: center; flex-direction: row;">
                <div style="width: 20px; height: 20px;">
                    <input type="radio" name="type" value="<%= types[i].type %>">
                </div>
                <div style="width: 200px; height: 20px;">
                    <label>
                        <% switch(types[i].type) { case 'radio': %>
                            Egy helyes válasz
                            <% break; case 'check': %>
                            Több helyes válasz
                            <% break; case 'ordering': %>
                            Sorrendbe helyezés
                            <% break; case 'grouping': %>
                            Csoportosítás
                            <% break; %>        
                        <% } %>
                    </label>
                </div>
            </div>
        <% } %>
        <div style="margin-top: 30px; margin-left: 300px;">
            <button>Kiválaszt</button>
        </div>
    </div>
</form>