<form method="POST" action="/teacher/addNewLesson/<%= chapterID %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h3>Új lecke hozzáadása a fejezethez</h3>
        <div>
            <label>Lecke címe:</label>
            <input size="70" type="text" name="lessonName" required>
        </div>
        <div style="margin-top: 30px;">
            <button type="submit">Hozzáad</button>
        </div>
    </div>
</form>