<form method="POST" action="/admin/newStudent/<%= classID %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h3>
                Új tanuló hozzáadása
            </h3>
        </div>

        <table>
        <tr>
                <td><label>Tanuló neve:</label></td>
                <td><input type="text" name="name"></td>
        </tr>

        <tr>
            <td><label>Jelszó:</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        </table>
    
        <div style="margin-top: 20px;">
            <button>Hozzáad</button>
        </div>
    </div>
    </form>