<form method="POST" action="/admin/newTeacher">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h3>
                Új tanár hozzáadása
            </h3>
        </div>
        <div>
            <label>Tanár neve:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Jelszó:</label>
            <input type="password" name="password">
        </div>
    
        <div>
            <button>Hozzáad</button>
        </div>
    </div>
    </form>