<form method="POST" action="/teacher/addNewTest/<%= lessonID %>">
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div>
        <h2>Új feladatsor létrehozása</h2>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: row;">
        <div>
            <label>Az új feladatsor neve: </label>
            <input type="text" name="testName">
        </div>

        <div style="margin-left: 10px;">
            <button>Hozzáad</button>
        </div>
    </div>
</div>
</form>