<form method="POST" action="/admin/newTeacher">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h3>
                Új tanár hozzáadása
            </h3>
        </div>
        <table>
            <tr>
                    <td><label>Tanár neve:</label></td>
                    <td><input type="text" name="name"></td>
            </tr>
    
            <tr>
                <td><label>Jelszó:</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        
            <div style="margin-top: 20px;">
                <button>Hozzáad</button>
            </div>
    </div>
</form>