<div class="container">
  
    <audio controls="" id="aud">
    <source src="wrong.mp3" type="audio/mpeg">
    </audio> 

    <audio controls="" id="aud">
    <source src="incomplete.wav" type="audio/wav">
    </audio> 

    <audio controls="" id="aud">
    <source src="correct.wav" type="audio/wav">
    </audio> 
</div>