<style>
    .centered-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border: 3px solid darkcyan;
        max-width: 500px; 
        width: 100%; 
        margin: 20px;
    }

    .student-info {
        text-align: left;
        font-size: 18px;
    }

    .student-info div {
        margin-bottom: 10px;
    }

    .student-info strong {
        color: darkcyan;
    }

    .portfolio-title {
        font-size: 24px;
        color: darkcyan;
        text-align: center;
    }
</style>


<div class="centered-container">
    <div>
    <% if (user.user_role == 'admin') { %>
        <div class="student-info">
            <div><strong>Név:</strong> <%= student.user_name %></div>
            <div><strong>Felhasználónév:</strong> <%= student.user_email %></div>
        </div>
    <% } else { %>
        <div>
            <h1 class="portfolio-title"><%= student.user_name %> - Portfólió</h1>
        </div>
    <% } %>
    </div>
</div>
