ul#menu {
    list-style-type: none;
    width: 80%;
  }
  
  #menu li {
    display: inline;
    margin: 0.5em;
    font-size: 12pt;
    font-family: Verdana, Arial, sans-serif;
  }
  ul#menu li a {
    text-decoration: none;
    background-color: darkcyan;
    padding: 0.3em;
    color: black;
  }
  ul#menu li a:link {
    background-color: lightgray;
    color: lightskyblue;
  }
  ul#menu li a:visited {
    background-color: lightblue;
  }
  ul#menu li a:hover {
    background-color: lightseagreen;
  }

  body {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  #page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

  .header {
    background-color: darkcyan;
    flex: 0 0 auto;
  }
  
  .footer {
    background-color: darkcyan;
  }
  
  div#content {
    background-color: lightcyan;
    padding: 2em;
    flex-grow: 2;
  }
  
  .nav {
    box-sizing: border-box;
  }
  
  .article {
    box-sizing: border-box;
  }

  